html {
    font-family: sans-serif;
    box-sizing: border-box;
}
body{
    background-color: #ddd;
}
#main{
    
}
#title {
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    text-align: center;
    margin: 40px auto 0;
    height: 80px;
    padding-top: 40px;
    background-color:  #f2f2f2;
}
#img-div{
    margin:0 auto 40px;
    padding: 20px 0;
    width: 100%;
    background-color: #f2f2f2 ;
}

#image{
    margin: auto;
    max-width: 70%;
    display: block;

}

#img-caption {
    text-align: center;
    margin-top: 10px;
    font-style: italic;
}

span{
    font-size: 20px;
    font-weight: bold;
}

#description {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
}

#tribute-info {
    font-size: 20px;
    margin: auto;
}
#tribute-info li{
    margin: 20px auto;
}
#link{
    font-size: 24px;
    margin: auto;
}

#link a{
    text-decoration: none;
    color: #6c8b93;
}